<div style="margin-top:30px;">
    <div style="text-align:right; margin-bottom:10px;">
        <button mat-stroked-button (click)="expandCollapse();">Expand / Collapse</button>
    </div>
    <div>
        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Bill / Reso
            </mat-expansion-panel-header>

            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Congress Library" class="form-field-label">Congress Library</label>
                    <mat-form-field id="congressLibraryField" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>

                <div>
                    <label for="Sequence Number" class="form-field-label">Sequence Number</label>
                    <mat-form-field id="sequenceNo" class="fieldWidth">
                        <input matInput [(ngModel)]="sequenceNo">
                    </mat-form-field>
                </div>
                <div>
                    <label for="Session Type" class="form-field-label">Session Type</label>
                    <mat-form-field id="sessionType" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="RA No" class="form-field-label">R.A./Res./J.Res. No.</label>
                    <mat-form-field id="billNo" class="fieldWidth">
                        <input matInput [(ngModel)]="billNo">
                    </mat-form-field>
                </div>
                <div>
                    <label for="RA No" class="form-field-label">R.A./Res./J.Res. Short Title</label>
                    <mat-form-field id="billTitle" class="fieldWidth">
                        <input matInput [(ngModel)]="billTitle">
                    </mat-form-field>

                </div>
                <div>
                    <label for="RA No" class="form-field-label">R.A./Res./J.Res. Long Title</label>
                    <mat-form-field id="billLongTitle" style="width:100%">
                        <textarea matInput [(ngModel)]="billLongTitle"></textarea>
                    </mat-form-field>

                </div>
            </div>
            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Legislative Status" class="form-field-label">Legislative Status</label>
                    <mat-form-field id="legislativeStatus" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Status Date" class="form-field-label">Status Date</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="statusDate" [value]="statusDate.value">
                        <mat-datepicker-toggle matSuffix [for]="statusDate"></mat-datepicker-toggle>
                        <mat-datepicker #statusDate></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Scope" class="form-field-label">Scope</label>
                    <mat-form-field id="scope" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Author(s)
            </mat-expansion-panel-header>

            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Author" class="form-field-label">Author</label>
                    <mat-form-field id="author" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Co-Author(s)" class="form-field-label">Co-Author(s)</label>
                    <button mat-stroked-button style="font-style:italic;">Please Select...</button>
                </div>
            </div>
            <div class="col-sm-6 inline-display"></div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Sponsor(s)
            </mat-expansion-panel-header>

            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Sponsor" class="form-field-label">Sponsor</label>
                    <mat-form-field id="sponsor" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Co-Sponsor(s)" class="form-field-label">Co-Sponsor(s)</label>
                    <button mat-stroked-button style="font-style:italic;">Please Select...</button>
                </div>
            </div>
            <div class="col-sm-6 inline-display"></div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Committee(s)
            </mat-expansion-panel-header>
            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Committee Report No" class="form-field-label">Committee Report No.</label>
                    <mat-form-field id="committeeReportNo" class="fieldWidth">
                        <input matInput [(ngModel)]="committeeReportNo">
                    </mat-form-field>
                </div>
                <div>
                    <label for="Primary Committee" class="form-field-label">Primary Committee</label>
                    <mat-form-field id="primaryCommittee" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Secondary Committee(s)" class="form-field-label">Secondary Committee(s)</label>
                    <button mat-stroked-button style="font-style:italic;">Please Select...</button>
                </div>
            </div>
            <div class="col-sm-6 inline-display"></div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Votes
            </mat-expansion-panel-header>

            <div style="margin-bottom:10px;">
                <div style="display:inline;">
                    <button style="float:right;" mat-stroked-button>Add / Edit Vote</button>
                </div>
                <div style="display:inline;">
                    <label for="Type of Vote" class="form-field-label" style="width:10%;">Type of Vote</label>
                    <mat-form-field id="TypeOfVote" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Date of Vote" class="form-field-label" style="width:10%;">Date of Vote</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="voteDate" [value]="voteDate.value">
                        <mat-datepicker-toggle matSuffix [for]="voteDate"></mat-datepicker-toggle>
                        <mat-datepicker #voteDate></mat-datepicker>
                    </mat-form-field>
                </div>

            </div>

            <div class="col-sm-2 inline-display"></div>
            <div class="col-sm-8 inline-display">

                <div>
                    <table class="md-table" style="width:100%;">
                        <thead>
                            <tr>
                                <th style="flex: 0 1 33.3%;">Yes</th>
                                <th style="flex: 0 1 33.3%;">No</th>
                                <th style="flex: 0 1 33.3%;">Abstain</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="flex: 0 1 33.3%;">ANGARA, JUAN EDGARDO "SONNY" M. </td>
                                <td style="flex: 0 1 33.3%;">HONTIVEROS, RISA</td>
                                <td style="flex: 0 1 33.3%;"></td>
                            </tr>
                            <tr>
                                <td style="flex: 0 1 33.3%;">BINAY, MARIA LOURDES NANCY S. </td>
                                <td style="flex: 0 1 33.3%;"></td>
                                <td style="flex: 0 1 33.3%;"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>


            </div>
            <div class="col-sm-2 inline-display"></div>

            <LIS-add-edit-votes></LIS-add-edit-votes>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                President's Action
            </mat-expansion-panel-header>

            <div class="col-sm-6 inline-display">
                <div>
                    <label for="President's Action" class="form-field-label">President's Action</label>
                    <mat-form-field id="presidentsAction" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Date Received by the President" class="form-field-label">Date Received by the
                        President</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="dateReceived" [value]="dateReceived.value">
                        <mat-datepicker-toggle matSuffix [for]="dateReceived"></mat-datepicker-toggle>
                        <mat-datepicker #dateReceived></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Date Signed into Law" class="form-field-label">Date Signed into Law</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="dateSigned" [value]="dateSigned.value">
                        <mat-datepicker-toggle matSuffix [for]="dateSigned"></mat-datepicker-toggle>
                        <mat-datepicker #dateSigned></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6 inline-display"></div>

        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Copy of Documents
            </mat-expansion-panel-header>

            <div class="col-sm-4 inline-display">

            </div>
            <div class="col-sm-4 inline-display">
                <div class="upload-box">
                    <button mat-stroked-button style="transform: translate(0%,200%);">Select Files...</button>
                </div>
                <div>
                    <label for="Description" class="form-field-label" style="margin-top:25px;">Description</label>
                </div>
                <div>
                    <mat-form-field class="example-full-width">
                        <textarea matInput></textarea>
                    </mat-form-field>
                </div>

            </div>
            <div class="col-sm-4 inline-display">

            </div>



        </mat-expansion-panel>

        <mat-expansion-panel [expanded]="isExpanded">
            <mat-expansion-panel-header>
                Others
            </mat-expansion-panel-header>

            <div class="col-sm-6 inline-display">
                <div>
                    <label for="Document Certification" class="form-field-label">Document Certification</label>
                    <mat-form-field id="documentCertification" class="fieldWidth">
                        <mat-select>
                            <input matInput>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Date Certified" class="form-field-label">Date Certified</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="dateCertified" [value]="dateCertified.value">
                        <mat-datepicker-toggle matSuffix [for]="dateCertified"></mat-datepicker-toggle>
                        <mat-datepicker #dateCertified></mat-datepicker>
                    </mat-form-field>
                </div>
                <div>
                    <label for="Conference Requested By" class="form-field-label">Conference Requested By</label>
                    <mat-form-field id="requestedBy" class="fieldWidth">
                        <input matInput [(ngModel)]="requestedBy">
                    </mat-form-field>

                </div>
                <div>
                    <label for="Date request to form a Conference Committee" class="form-field-label">Date request to
                        form a Conference Committee</label>
                    <mat-form-field class="fieldWidth">
                        <input matInput [matDatepicker]="dateRequest" [value]="dateRequest.value">
                        <mat-datepicker-toggle matSuffix [for]="dateRequest"></mat-datepicker-toggle>
                        <mat-datepicker #dateRequest></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-sm-6 inline-display"></div>

        </mat-expansion-panel>
    </div>

</div>