<div id="searchDivLeft" style="float:left; width: 100%;" >
    <div>
        <label for="dateFiled" class="form-field-label">Date Filed</label>
        <div class="form-field-content">
          <mat-form-field style="width: calc(45% - 8px);">
            <input matInput [matDatepicker]="filedFromDate" [value]="filedFromDate.value">
            <mat-datepicker-toggle matSuffix [for]="filedFromDate"></mat-datepicker-toggle>
            <mat-datepicker #filedFromDate></mat-datepicker>
          </mat-form-field>
    
          <label style="margin: 0 8px;">to</label>
          <mat-form-field style="width: calc(45% - 8px);">
            <input matInput [matDatepicker]="filedDateTo" [value]="filedDateTo.value">
            <mat-datepicker-toggle matSuffix [for]="filedDateTo"></mat-datepicker-toggle>
            <mat-datepicker #filedDateTo></mat-datepicker>
          </mat-form-field>
        </div>
    </div>
  
    <div>
        <label class="form-field-label">Session Sequence No.</label>
        <div class="form-field-content">
          <mat-form-field class="example-full-width">
            <input matInput  [(ngModel)]="sessionSequenceNo" >
          </mat-form-field>
        </div>
    </div>
  
    <div>
        <label class="form-field-label">Session Type</label>
        <div class="form-field-content">
          <mat-form-field id="sessionType" style=" width: 45%;">
            <mat-select [(ngModel)]="sessionType">
              <mat-option *ngFor="let session of sessionTypes" [value]="session.value">
                {{session.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>

    <div>
        <label class="form-field-label">Bill / Resolution No.</label>
        <div class="form-field-content">
          <mat-form-field id="billResoNoDrop" style=" width: 45%;">
            <mat-select [(ngModel)]="billResoNoDrop">
              <mat-option *ngFor="let bill of billTypes" [value]="bill.value">
                {{bill.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>&nbsp;
          <mat-form-field id="billResoNo" style=" width: 45%;">
              <input matInput  [(ngModel)]="billResoNo" >
          </mat-form-field>      
        </div>
    </div>
  
    <div>
        <label class="form-field-label">Legislative Status</label>
        <div class="form-field-content">
          <mat-form-field id="legislativeStatus" style="width: 100%;">
            <mat-select [(ngModel)]="legislativeStatus">
              <mat-option *ngFor="let legi of legislativeStatusChoice" [value]="legi.value">
                {{legi.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
    </div>
  
    <div>
        <label class="form-field-label">Status Date</label>
        <div class="form-field-content">
          <mat-form-field style="width: calc(45% - 8px);">
            <input matInput [matDatepicker]="statusFromDate" [value]="statusFromDate.value">
            <mat-datepicker-toggle matSuffix [for]="statusFromDate"></mat-datepicker-toggle>
            <mat-datepicker #statusFromDate></mat-datepicker>
          </mat-form-field>
    
          <label style="margin: 0 8px;">to</label>
          <mat-form-field style="width: calc(45% - 8px);">
            <input matInput [matDatepicker]="statusDateTo" [value]="statusDateTo.value">
            <mat-datepicker-toggle matSuffix [for]="statusDateTo"></mat-datepicker-toggle>
            <mat-datepicker #statusDateTo></mat-datepicker>
          </mat-form-field>
        </div>
    </div>
  
    <div>
        <label class="form-field-label">Author</label>
        <div class="form-field-content">
          <mat-form-field id="author" style="width: 100%;">
            <mat-select [(ngModel)]="author">
              <mat-option *ngFor="let author of authors" [value]="author.value">
                {{author.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>  
    </div>
  
    <div>
        <label class="form-field-label">Co-Author</label> &nbsp;
        <button mat-stroked-button (click)="showPickListDialog();" style="font-style:italic;">
          <label *ngIf="this.currentDestinationList.length == 0 " >Please Select...</label>
          <label *ngIf="this.currentDestinationList.length > 0 " >({{this.currentDestinationList.length}}) selected  </label>
        </button>
    </div>
  
  </div>

 

 