<div>
  <!--empty buttons for UI purposes only.. trust me we need this.-->
  <button style="visibility:hidden;" ></button>
  <button style="visibility:hidden;" ></button>

  <div style="width: 400px; float: left; border: 1px solid; height: 300px; " >
    <mat-selection-list #sourceList>
      <mat-list-option *ngFor="let current of currentSourceList">
        {{current.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="pick-list-move-buttons">
      <button mat-raised-button > > </button>
      <button mat-raised-button > >> </button>
      <button mat-raised-button > < </button>
      <button mat-raised-button > << </button>
  </div>

  <div style="width: 400px; float: right; border: 1px solid; height: 300px; " >
    <mat-selection-list #destinationList>
      <mat-list-option *ngFor="let current of destinationList">
          {{current.name}}
      </mat-list-option>
    </mat-selection-list>
  </div>

  <div class="clear-fix " style="float:right;" >
      <button mat-raised-button >OK</button>
      <button mat-raised-button >Cancel</button>
  </div>

</div>