.pick-list-move-buttons {
    display: inline-block;
    margin-top: 70px;
    width: calc(100% - 800px);
    text-align: center;

    & > .mat-raised-button {
        display: block;
        margin: 4px auto;
    }
}

.clear-fix:before,
.clear-fix:after {
    content:"";
    display: table;
    clear: both;
}