<div>
  <!--empty buttons for UI purposes only.. trust me we need this.-->
  <button style="visibility:hidden;" ></button>
  <button style="visibility:hidden;" ></button>

  <div class="clear-fix">
    <div style="width: 400px; float: left; border: 1px solid; height: 300px; " >
      <mat-selection-list #sourceList [(ngModel)]="sourceSelectedItem" >
        <mat-list-option *ngFor="let current of currentSourceList" [value]="current" >
          {{current.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  
    <div class="pick-list-move-buttons">
        <button mat-raised-button (click)="moveSelected()" > > </button>
        <button mat-raised-button (click)="moveAll()"  > >> </button>
        <button mat-raised-button (click)="returnSelected()" > < </button>
        <button mat-raised-button (click)="returnAll()" > << </button>
    </div>
  
    <div style="width: 400px; float: right; border: 1px solid; height: 300px; " >
      <mat-selection-list #destinationList [(ngModel)]="destSelectedItem" >
        <mat-list-option *ngFor="let select of selectedList" [value]="select" >
          {{select.name}}
        </mat-list-option>
      </mat-selection-list>
    </div>
  </div>

  <div style="float:right; margin-top: 10px;">
      <button mat-dialog-close >OK</button>
      <button  mat-dialog-close (click)="cancelPickListSelection();"  >Cancel</button>
  </div>

</div>