.search-page-wrapper {
    margin: 0 auto;
    width: 90%;
}

.search-page {
    display: inline-block;
    width: 45%;

    &.left {
        float: left;
    }

    &.right {
        float: right;
    }
}

.clear-fix:before,
.clear-fix:after {
    content:"";
    display: table;
    clear: both;
}
