<div id="searchDivTop">
  <div>
      <label for="congressLibraryField" >Congress Library</label>
      <mat-form-field id="congressLibraryField">
        <mat-select [(ngModel)]="congressLibrary">
          
        </mat-select>
      </mat-form-field>
  </div>
  
  <div>
      <label for="searchCategory" >Search Category</label>
      <mat-form-field id="searchCategory">
        <mat-select [(ngModel)]="congressLibrary">
          
        </mat-select>
      </mat-form-field>
  </div>
</div>

<div id="searchDivMid">
  <div>
      <label for="dateFiled" >Date Filed</label>
      <mat-form-field>
        <input matInput [matDatepicker]="filedFromDate" [value]="filedFromDate.value">
        <mat-datepicker-toggle matSuffix [for]="filedFromDate"></mat-datepicker-toggle>
        <mat-datepicker #filedFromDate></mat-datepicker>
      </mat-form-field>

      <label >to</label>
      <mat-form-field>
        <input matInput [matDatepicker]="filedDateTo" [value]="filedDateTo.value">
        <mat-datepicker-toggle matSuffix [for]="filedDateTo"></mat-datepicker-toggle>
        <mat-datepicker #filedDateTo></mat-datepicker>
      </mat-form-field>
  </div>

  <div>
      <label >Session Sequence No.</label>
      <mat-form-field class="example-full-width">
        <input matInput  [(ngModel)]="sessionSequenceNo" >
      </mat-form-field>
  </div>

  <div>
      <label >Bill / Resolution No.</label>
      <mat-form-field id="billResoNoDrop">
        <mat-select [(ngModel)]="billResoNoDrop">
          
        </mat-select>
      </mat-form-field>&nbsp;
      <mat-form-field id="billResoNo">
          <input matInput  [(ngModel)]="billResoNo" >
      </mat-form-field>      
  </div>

  <div>
      <label >Legislative Status</label>
      <mat-form-field id="legislativeStatus">
        <mat-select [(ngModel)]="legislativeStatus">
          
        </mat-select>
      </mat-form-field>
  </div>

  <div>
      <label >Status Date</label>
      <mat-form-field>
          <input matInput [matDatepicker]="statusFromDate" [value]="statusFromDate.value">
          <mat-datepicker-toggle matSuffix [for]="statusFromDate"></mat-datepicker-toggle>
          <mat-datepicker #statusFromDate></mat-datepicker>
        </mat-form-field>
  
        <label >to</label>
        <mat-form-field>
          <input matInput [matDatepicker]="statusDateTo" [value]="statusDateTo.value">
          <mat-datepicker-toggle matSuffix [for]="statusDateTo"></mat-datepicker-toggle>
          <mat-datepicker #statusDateTo></mat-datepicker>
        </mat-form-field>
  </div>

  <div>
      <label >Author</label>
      <mat-form-field id="author">
        <mat-select [(ngModel)]="author">
          
        </mat-select>
      </mat-form-field>

  </div>

  <div>
      <label >Co-Author</label> &nbsp;
      <button mat-raised-button>Please Select...</button>
  </div>

</div>