<mat-toolbar color="primary">
    <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div><img src="../../../assets/logo/senate_seal.png" style="width:70px;margin-top:9px;"></div>
    <div class="header-label">
    <span>Senate Legislative</span><br/><br/><br/>
    <span style="font-size:11px;">Information System</span></div>
    <div style="width:100%;text-align: right">
        <mat-icon>search</mat-icon>
        <mat-icon>bar_chart</mat-icon>
        <mat-icon>person</mat-icon>
    </div>
  </mat-toolbar>