a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    border-radius: 3px;
    max-height: 80px;
    min-height: 80px;
    background: #003399 !important;
}

.header-label{
    line-height: 6px; 
    margin-left: 14px; 
    font-family: "Trajan Pro";
}

.material-icons{
    font-size: 20px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}

.fixed-header {
    position: fixed;
    z-index:999;
    margin-bottom: 100px;
}