<mat-toolbar color="primary" class="fixed-header">
    <!-- <div fxHide.gt-xs>
        <button mat-icon-button (click)="onToggleSidenav()">
            <mat-icon>menu</mat-icon>
        </button>
    </div> -->
    <div><img src="../../../assets/logo/senate_seal.png" style="width:70px;"></div>
    <div class="header-label">
    <span>Senate Legislative</span><br/><br/><br/>
    <span style="font-size:11px;">Information System</span></div>
    <div style="width:100%;text-align: right">
        <a routerLink="/search" style="color:white !important;"><mat-icon>search</mat-icon></a>
        <a routerLink="/add-new" style="color:white !important;"><mat-icon>add</mat-icon></a>
        <mat-icon>bar_chart</mat-icon>
        <mat-icon (click)="login()">person</mat-icon>
    </div>
</mat-toolbar>