<div class="login-layout">
    <div class="col-sm-4 center-panel">
        <!-- <label for="RA No" class="form-field-label">R.A./Res./J.Res. Short Title</label> -->
        <div><img src="../../../assets/logo/senate_seal.png" style="width:30%;margin-top:20px;"></div>
        <div style="margin-top:15px;">
            <label class="header-label" style="letter-spacing:2.5px;" for="Information System">Senate Legislative</label>
        </div>
        <div>
            <label class="header-label" style="letter-spacing:1.5px;" for="Information System">Information
                System</label>
        </div>
        
        <div>
            <mat-form-field id="userName" style="text-align:center;width:50%;">
                <input class="input-style" placeholder="USERNAME" matInput [(ngModel)]="userName">
            </mat-form-field>
        </div>
        <div>
            <mat-form-field id="password" style="text-align:center;width:50%;">
                <input class="input-style" placeholder="PASSWORD" matInput [(ngModel)]="password">
            </mat-form-field>
        </div>

        <div>
            <mat-form-field id="login" style="text-align:center;width:100%;">
                    <button style="text-align:center;width:50%; background-color: #cccccc;" mat-stroked-button>LOGIN</button>
            </mat-form-field>
        </div>
    </div>
</div>