<div class="page-layout">
  <div style="text-align:right;margin: 30px 0px  -42px 0px;"><button mat-button>
      <mat-icon>file_copy</mat-icon> Export
    </button><button mat-button><a routerLink="/result-list">
        <mat-icon>keyboard_backspace</mat-icon> Back
      </a></button></div>
  <mat-tab-group style="margin-top:50px;">
    <mat-tab label="Bills / Reso">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-6" style="padding-right: 0">
            <table class="cell-padding" style="width:100%">
              <tr>
                <td class="label-bill-info">Bill / Res No.</td>
                <td>{{ billItem.bill }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Date Filed</td>
                <td>{{ billItem.dateFiled }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Legislative Status</td>
                <td>{{ billItem.billInfo.legislativeStatus }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Status Date</td>
                <td>{{ billItem.billInfo.statusDate }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Session Sequence No.</td>
                <td>{{ billItem.billInfo.sessionSequenceNo }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Session Type</td>
                <td>{{ billItem.billInfo.sessionType }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Scope</td>
                <td>{{ billItem.billInfo.scope }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Author</td>
                <td>{{ billItem.billInfo.author }}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-6">
            <table class="cell-padding">
              <thead>
                  <tr>
                      <th class="label-bill-info">Co-Author(s)</th>
                  </tr>
              </thead>
              <tbody style="width: 392px; max-height: 300px; display: inline-block; overflow-y: scroll;margin-left: 200px" class="custom-scrollbar">
                  <tr *ngFor="let author of billItem.billInfo.coAuthors">
                      <td style="word-wrap:break-word">{{ author }}</td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding" style="width:100%">
              <tr>
                <td style="word-wrap:break-word; width:25%; font-weight: bold; vertical-align: top;">Short Title</td>
                <td style="word-wrap:break-word">{{ billItem.shortTitle }}</td>
              </tr>
              <tr>
                <td style="word-wrap:break-word; width:25%; font-weight: bold; vertical-align: top;">Long Title</td>
                <td style="word-wrap:break-word">{{ billItem.billInfo.longTitle }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Committee(s) & Report No">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-6">
            <table class="cell-padding">
              <tr>
                <td class="label-bill-info">Committee Report No.</td>
                <td>{{ billItem.billInfo.committeeReportNo.committeeReportNo }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Primary </td>
                <td>{{ billItem.billInfo.committeeReportNo.primaryCommittee }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Secondary Committee(s)</td>
                <td>{{ billItem.billInfo.committeeReportNo.secondaryCommittee }}</td>
              </tr>
            </table>
          </div>
          <div class="col-sm-6"></div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Sponsor(s)">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding">
              <tr>
                <td class="label-bill-info-full">Sponsor</td>
                <td>{{ billItem.billInfo.sponsor.sponsor }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Co-Sponsor(s) </td>
                <td>{{ billItem.billInfo.sponsor.coSponsor }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Subject">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding">
                <thead>
                    <tr>
                        <td class="label-bill-info-full">Subject</td>
                    </tr>
                </thead>
                <tbody style="max-height: 200px; display: inline-block;">
                    <tr *ngFor="let subject of billItem.billInfo.subject.subject">
                        <td style="word-wrap:break-word">{{ subject }}</td>
                    </tr>
                </tbody>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="Document Certification">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding">
              <tr>
                <td class="label-bill-info-full">Document Certification</td>
                <td>{{ billItem.billInfo.documentCertification.documentCertification }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Date Certified</td>
                <td>{{ billItem.billInfo.documentCertification.dateCertified }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>



    <mat-tab label="House Counter Part">
      <p>No available content.</p>
    </mat-tab>

    <mat-tab label="Floor Activity">
        <div style="margin: 25px auto 0;width: 75%;">
            <table class="md-table">
                <thead>
                  <tr>
                    <th style="flex: 0 1 120px;">Status Date</th>
                    <th style="flex: 0 1 280px;">Parliamentary Status</th>
                    <th style="flex: 0 1 400px;">Senator(s)</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody class="custom-scrollbar">
                  <tr *ngFor="let floorAct of billItem.billInfo.floorActivity">
                    <td style="flex: 0 1 120px;">{{floorAct.statusDate}}</td>
                    <td style="flex: 0 1 280px;">{{floorAct.parliamentaryStatus}}</td>
                    <td style="flex: 0 1 400px; white-space: pre-line;">{{floorAct.senators}}</td>
                    <td>{{floorAct.remarks}}</td>
                  </tr>
                </tbody>
            </table>
          </div>
    </mat-tab>
    <!-- <mat-tab label="Votes">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-10">
            <table class="cell-padding-votes">
              <tr>
                <td class="label-bill-info">Date of Vote</td>
                <td>11/28/2017</td>
              </tr>
              <tr>
                <td class="label-bill-info">Type of Vote</td>
                <td>THIRD READING</td>
              </tr>
              <tr>
                <td class="label-bill-info">Yes</td>
                <td class="label-bill-info">No</td>
                <td class="label-bill-info">Abstain</td>
              </tr>

              <tr>
                <td>ANGARA, JUAN EDGARDO "SONNY" M.</td>
                <td>HONTIVEROS, RISA</td>
                <td></td>
              </tr>
              <tr>
                <td>BINAY, MARIA LOURDES NANCY S.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>DRILON, FRANKLIN M.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>EJERCITO, JOSEPH VICTOR G.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>ESCUDERO, FRANCIS "CHIZ" G.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>GATCHALIAN, SHERWIN T.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>GORDON, RICHARD J.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>HONASAN II, GREGORIO B.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>LEGARDA, LOREN B.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>PACQUIAO, EMMANUEL "MANNY" D.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>PIMENTEL, AQUILINO KOKO III L.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>POE, GRACE L.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>RECTO, RALPH G.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>SOTTO III, VICENTE C.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>VILLANUEVA, JOEL</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>VILLAR, CYNTHIA A.</td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>ZUBIRI, JUAN MIGUEL F.</td>
                <td></td>
                <td></td>
              </tr>
            </table>
          </div>
          <div class="col-sm-2"></div>
        </div>
      </div>
    </mat-tab> -->




    <mat-tab label="Votes">
        <div style="padding:35px;">
          <div class="row" style="width:100%">
            <div class="col-sm-10">
              <table class="cell-padding-votes">
                <tr>
                  <td class="label-bill-info">Date of Vote</td>
                  <td>{{ billItem.billInfo.vote.dateOfVote }}</td>
                </tr>
                <tr>
                  <td class="label-bill-info">Type of Vote</td>
                  <td>{{ billItem.billInfo.vote.typeOfVote }}</td>
                </tr>
              </table>

              <table class="md-table">
                  <thead>
                      <tr>
                          <th class="label-bill-info">Yes</th>
                          <th class="label-bill-info">No</th>
                          <th class="label-bill-info">Abstain</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td style="word-wrap:break-word;white-space: pre-line;vertical-align: top">{{ concatArrayString( billItem.billInfo.vote.yes ) }}</td>
                          <td style="word-wrap:break-word;white-space: pre-line;vertical-align: top">{{ concatArrayString( billItem.billInfo.vote.no ) }}</td>
                          <td style="word-wrap:break-word;white-space: pre-line;vertical-align: top">{{ concatArrayString( billItem.billInfo.vote.abstain ) }}</td>
                      </tr>
                  </tbody>
              </table>

            </div>
            <div class="col-sm-2"></div>
          </div>
        </div>
      </mat-tab>
    





    <mat-tab label="Bill Transmittal">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding">
              <tr>
                <td class="label-bill-info-full">Date request to form a Conf. Ctte.</td>
                <td>{{ billItem.billInfo.billTransmittal.dateRequestToFormAConfCtte }}</td>
              </tr>
              <tr>
                <td class="label-bill-info">Conference Committee requested by</td>
                <td>{{ billItem.billInfo.billTransmittal.conferenceCommitteeRequestedBy }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>

    <mat-tab label="R.A/Res./J.Res">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-12">
            <table class="cell-padding">
              <tr>
                <td class="label-bill-info-full">President's Action</td>
                <td>{{ billItem.billInfo.rAResJRes.presidentAction }}</td>
              </tr>
              <tr>
                <td class="label-bill-info-full">Date Received by the President</td>
                <td>{{ billItem.billInfo.rAResJRes.dateReceivedByThePresident }}</td>
              </tr>
              <tr>
                <td class="label-bill-info-full">Date Signed into Law</td>
                <td>{{ billItem.billInfo.rAResJRes.dateSignedIntoLaw }}</td>
              </tr>
              <tr>
                <td class="label-bill-info-full">R.A./Res./J.Res. No.</td>
                <td>{{ billItem.billInfo.rAResJRes.resNo }}</td>
              </tr>
              <tr>
                <td class="label-bill-info-full">R.A./Res./J.Res. Title</td>
                <td>{{ billItem.billInfo.rAResJRes.resTitle }}</td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </mat-tab>


    <mat-tab label="Attachments">
      <div style="padding:35px;">
        <div class="row" style="width:100%">
          <div class="col-sm-10" style="margin: 0 auto;">
            <div>
              <table class="md-table" style="width:100%;">
                <thead>
                  <tr>
                    <th style="flex: 0 1 20%;">Action</th>
                    <th style="flex: 0 1 40%;">File Name</th>
                    <th style="flex: 0 1 40%;">Document Description</th>
                  </tr>
                </thead>
                <tbody>
                  <!-- <tr>
                    <td style="flex: 0 1 20%;"><mat-icon>save_alt</mat-icon></td>
                    <td style="flex: 0 1 40%;">ra 10963.pdf</td>
                    <td style="flex: 0 1 40%;">REPUBLIC ACT NO. 10963</td>
                  </tr>
                  <tr>
                    <td style="flex: 0 1 20%;"><mat-icon>save_alt</mat-icon></td>
                    <td style="flex: 0 1 40%;">sbn-1592.pdf</td>
                    <td style="flex: 0 1 40%;">SBN-1592 ([PER CTTE. RPT. NO. 164)</td>
                  </tr> -->
                  <tr *ngFor="let attachment of billItem.billInfo.attachments">
                    <td style="flex: 0 1 20%;"><mat-icon>save_alt</mat-icon></td>
                    <td style="flex: 0 1 40%;">{{ attachment.filename }}</td>
                    <td style="flex: 0 1 40%;">{{ attachment.documentDescription }}</td>
                  </tr>
                    
                </tbody>
              </table>
            </div>
          </div>
          <div class="col-sm-4"></div>
        </div>
      </div>
    </mat-tab>


  </mat-tab-group>
</div>