.label-padding {
    line-height: 2;
}

.cell-padding td{
    padding: 10px;
}

.cell-padding-votes td{
    padding: 5px;
}

.label-bill-info {
    width:50%; 
    font-weight: bold; 
    vertical-align: top;
}

.label-bill-info-full {
    width:25%; 
    font-weight: bold; 
    vertical-align: top;
}