<div style="margin-left:90px;width: 89%;">
    <mat-tab-group style="margin-top:50px;" >
        <mat-tab label="Bills / Reso">
          <label for="">Bill / Res No.</label><span>SBN-1592</span>
        </mat-tab>
        <mat-tab label="Committee(s) & Report No">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Sponsor(s)">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Subject">
          <!-- <h1>Some more tab content</h1>
          <p>...</p> -->
          <LIS-result-list-page></LIS-result-list-page>
        </mat-tab>
        <mat-tab label="Document Certification">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="House Counter Prt">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Floor Activity">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Votes">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Bill Transmittal">
          <h1>Some tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="R.A/Res./J.Res">
          <h1>Some more tab content</h1>
          <p>...</p>
        </mat-tab>
        <mat-tab label="Copy of R.A./Res./J.Res.">
            <h1>Some tab content</h1>
            <p>...</p>
        </mat-tab>
        <mat-tab label="Copy of Document(s)">
            <h1>Some more tab content</h1>
            <p>...</p>
        </mat-tab>
      </mat-tab-group>
</div>
