.label-padding {
    line-height: 2;
}

.cell-padding td{
    padding: 10px;
}

.cell-padding-votes td{
    padding: 5px;
}

.label-bill-info {
    width:50%; 
    font-weight: bold; 
    vertical-align: top;
}

.label-bill-info-full {
    width:25%; 
    font-weight: bold; 
    vertical-align: top;
}

.md-table {
    width: 100%;
    font-weight: normal;
    border: 1px solid #DDDDDD;
    text-align: center;

    tr { 
        display: flex; 
    }

    thead {
        border-bottom: 1px solid #DDDDDD;
        font-weight: bold;
        color: #474747;
        line-height: 1.75;

        th {
            flex: 1 auto;
            width: 1px;
            padding: 15px;
            line-height: normal;

            &:last-child { padding-right: 15px !important; }
        }
    }

    tbody {
        display: block;
        width: 100%;
        overflow-y: auto;
        max-height: 600px;

        tr {
            border-bottom: 1px solid #ddd;
            background-color: #fff;
        }

        td {
            //display: flex;
            flex: 1 auto;
            padding: 15px;
            width: 1px;
            word-wrap: break-word;
            line-height: normal;

            .fa { font-size: 14px; }

         }
    }
  }

  .custom-scrollbar {
      &::-webkit-scrollbar {
        width: 10px;
      }

      &::-webkit-scrollbar-track {
        background: #e8e8e8;
      }

      &::-webkit-scrollbar-thumb {
        background: #969696;
      }
  }