<div id="searchDivTop">
    <div>
        <label for="congressLibraryField" >Congress Library</label>
        <mat-form-field id="congressLibraryField">
          <mat-select [(ngModel)]="congressLibrary">
            
          </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <label for="searchCategory" >Search Category</label>
        <mat-form-field id="searchCategory">
          <mat-select [(ngModel)]="congressLibrary">
            
          </mat-select>
        </mat-form-field>
    </div>
  </div>