<div id="searchDivTop">
    <div style="float:right;" >
        <button mat-stroked-button><a routerLink="/result-list" routerLinkActive="active">Submit</a></button>
        <button mat-stroked-button style="margin-left:10px;">Clear</button>
    </div>

    <div>
        <label for="congressLibraryField" class="form-field-label" >Congress Library</label>
        <mat-form-field id="congressLibraryField" class="fieldWidth">
          <mat-select [(ngModel)]="congressLibrary">
            <mat-option *ngFor="let library of congressLibraries" [value]="library.libValue">
              {{library.libName}}
            </mat-option>
          </mat-select>
        </mat-form-field>
    </div>
    
    <div>
        <label for="searchCategory"  class="form-field-label">Search Category</label>
        <mat-form-field id="searchCategory" class="fieldWidth">
          <mat-select [(ngModel)]="searchCategory">
            
          </mat-select>
        </mat-form-field>
    </div>
    
  </div>