.form-field-label {
    display: inline-block;
    width: 50%;  
    margin-top: 20px;  
}

.form-field-content {
    display: inline-block;
    width: 50%;
}

.form-field-input {
    display: inline-block; 
    width: 40%;
}
